[product]
host = 10.96.141.45:27017
user = 
pass = 
db   = storage

chunksize = 15728640
option.connectTimeoutMS = 1000

[0001 : product]
host = "10.96.141.81:27017,10.96.141.81:37017"
db = storage
collection = image
server = 0001

[storage : 0001]
collection = file

[image : 0001]
collection = image
servers = 0001

[video : product]
collection = video

[file : 0001]
collection = file
servers = 0001